@font-face {
    font-family: 'Brume';
    src: url('fonts/Brume-Regular.ttf');
    color: white;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    font-family: Brume;
    color: white;
}

#logo {
    height: 55px;
}
header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#menu {
    background-color: #1aadb7;
    padding: 0;
    border: 0;
}
.imagem-viewport {
    flex-grow: 1;
    background-image: url('img/imagemhome.png');
    background-size: cover;
    background-position: center;
}
.titulo2 {
    padding: 30px 60px;
    }

#perfil {
    height: 100vh;
    border-radius: 5px;
}
p {
    text-align: justify;
    padding: 0 30px 0 30px;
    margin: 0 50px 10px 50px;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
}
form {
    padding: 30px;
}
.section1 {
    
    background-color: #fc625f;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 2px;
}

.section2 {
    height: 100vh;
    color: #3b4b2e;
    background-color: #1aadb7;
    display: flex;
    flex-direction: column;
    border: 2px;
}
@media (max-width: 767.98px) {
    .section1, .section2 {
      height: auto; /* ou qualquer outra altura desejada */
    }
  }

footer {
    background-color: #fc625f;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}